* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f1f5f9;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #0f172a;
  color: white;
  padding: 30px;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 40px;
}

/* FORMULÁRIOS */
.forms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.form-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

/* CATÁLOGO */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.product-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

/* RESPOSTA */
.response-box {
  margin-top: 30px;
  background: #111827;
  color: #22c55e;
  padding: 20px;
  border-radius: 12px;
}

pre {
  white-space: pre-wrap;
}


.product-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}